 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1410px;
}

.u-section-1 .u-image-1 {
  width: 315px;
  height: 274px;
  margin: 25px auto 0 -26px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  width: 780px;
  margin: 61px auto 60px 172px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 692px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-container-layout-1 {
  padding: 24px 0;
}

.u-section-1 .u-icon-1 {
  width: 84px;
  height: 84px;
  margin: 14px auto 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: normal;
  margin: 20px 50px 0 30px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 24px 0;
}

.u-section-1 .u-icon-2 {
  width: 84px;
  height: 84px;
  margin: 14px auto 0;
  padding: 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: normal;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px auto 0;
}

.u-section-1 .u-text-4 {
  font-style: normal;
  margin: 20px 50px 0 30px;
}

.u-section-1 .u-container-layout-3 {
  padding: 24px 0;
}

.u-section-1 .u-icon-3 {
  width: 84px;
  height: 84px;
  margin: 14px auto 0;
  padding: 0;
}

.u-section-1 .u-text-5 {
  letter-spacing: normal;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px auto 0;
}

.u-section-1 .u-text-6 {
  font-style: normal;
  margin: 20px 50px 0 30px;
}

.u-section-1 .u-container-layout-4 {
  padding: 24px 0;
}

.u-section-1 .u-icon-4 {
  width: 84px;
  height: 84px;
  margin: 14px auto 0;
  padding: 0;
}

.u-section-1 .u-text-7 {
  letter-spacing: normal;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px auto 0;
}

.u-section-1 .u-text-8 {
  font-style: normal;
  margin: 20px 50px 0 30px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 24px 0;
}

.u-section-1 .u-icon-5 {
  width: 84px;
  height: 84px;
  margin: 14px auto 0;
  padding: 0;
}

.u-section-1 .u-text-9 {
  letter-spacing: normal;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px auto 0;
}

.u-section-1 .u-text-10 {
  font-style: normal;
  margin: 20px 50px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-left: 160px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }
}